@model MvcHamburgerProje.Data.Menu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KucukFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KucukFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrtaFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrtaFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyukFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyukFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resim)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/img/@Model.Resim" height="200px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kaldır" class="btn btn-warning" />
        <a class="btn btn-dark" asp-action="Index">Listeye Dön</a>
    </form>
</div>
