@model MvcHamburgerProje.Data.Menu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Ayrıntılar</h3>


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KucukFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KucukFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrtaFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrtaFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyukFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyukFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resim)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/img/@Model.Resim" height="200px" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Güncelle</a>
    <a class="btn btn-dark" asp-action="Index">Listeye Dön</a>
</div>
